<div class="playerName">{{playerName}}</div>
<div class="scoreValue" id="player{{id}}-score">{{score}} Pts</div>
<div class="livesContainer">
	{{#times lives}}
	<div class="lifeIcon"></div>
	{{/times}}
</div>
