@import 'mixins';


body {
	font-family: Arial;
	#container {
		@include fillparent;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.splash {
			.title {
				font-size: 2em;
				font-weight: bold;
			}
			#startButton {
				text-align: center;
				padding: .5em;
				background-color: lightgrey;
				cursor: pointer;
				border-radius: 5px;
				&:hover {
					background-color: grey;
				}
			}
		}

		.gameLayout {
			display: flex;
			#boardRegion {}
			#scoresRegion {
				.scoreList {
					font-size: 2em;
					.scoreItem {
						padding: 1rem;
						margin: 1rem;
						border: 1px solid black;
						border-radius: 5px;
						.playerName {

						}
						.scoreValue {
							text-align: right;
						}
						.livesContainer {
							display: flex;
							.lifeIcon {
								height: 20px;
								width: 20px;
								background-image: url('../images/heart-solid.svg');
								background-repeat: no-repeat;
								background-size: 100%;
								margin: 5px;
							}
						}
					}
				}
			}
		}
	}
}
