
.title {
	font-size: 3em;
	text-align: center;
}
.gameContainer {
	display: flex;
	.scores {
		font-size: 2em;
		.scoreTitle {
			text-align: center;
		}
		#scoreList {
			.player {
				display: flex;
				.livesContainer {
					display: flex;
				}
				.lifeIcon {
					height: 20px;
					width: 20px;
					background-image: url('../images/heart-solid.svg');
					background-repeat: no-repeat;
					background-size: 100%;
					margin: 5px;
				}
			}
		}
	}
}
